.carta{
    width: 10%;
    display: inline-block;
    padding: 20px;
    vertical-align: top;
}

.carta .titulo{    
    text-align: center;
    font-size: 8px;
    color: rgb(0, 0, 0);    
}

.carta .img img{
    text-align: center;
    width: 100%;
}